.principal{
-fx-background-color: #FFF;
}

.menu-lateral{
-fx-background-color: #535353;
}

.menu-button{
-fx-background-color:  #535353;
-fx-border: none;
-fx-text-fill:#fff;
-fx-border-radius: 0;
}

.menu-button:hover{
-fx-background-color: #747474;
-fx-cursor:hand;
}